.bom {
    padding: 1rem; /* Using rem for relative spacing */
}

.search-bar-section{
    height: 5vh;
    width: 10vw;
}

.input-group{
    width: 30vw;
}

.dropdown-section{
    width: 30vw;
    font: .7rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.list-group-item{
    height: 2.5rem;
}
.my-search-section {
    width: 30vw;
}

.item-label {
    flex-shrink: 0; /* Ensure the label doesn't shrink */
    font-weight:  500;
}

.left-input{
    float: left;
}
.right-input{
    margin-left: 20vw;
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-toggle{
    width: 80%;
    height: 2rem;
    margin-left: 1rem;
}