.add-item-btn {
    display: block;
    margin-left: auto;
    margin-right: 1vw; /* Relative unit for responsiveness */
    margin-bottom: 3vh; /* Relative unit for responsiveness */
    float: right;
}

.inventory-item {
    padding: 1rem; /* Using rem for relative spacing */
}

.item-code-input{
    width: 20vw;
    float: left;
}
.form-container input,
.form-container select{

    height: 2rem;
    border-radius: 3px;
}
.search-bar-section{
    float: left;
    width: 60vh;
}


.assign-button {
    margin-left: 0.625rem;
    height: 2rem;
    line-height: 0px;
}


.basic-item-details,.item-specs{
    border: rgba(89, 89, 89, 0.2) 1px solid;
    margin-top: 2rem;
    padding-top: 0;
}
.basic-item-details input,.basic-item-details select{
    width: 20vw;
}
.section-heading{
    background-color: rgba(0, 170, 255, 0.5);
    padding: 10px;
}

.item-name-input{
    float: left;
    margin-left: 0.625rem;
}
.hsn-code-input{
   margin-left: 50vw;
}

.basic-info-input{
    margin: 30px 30px 15px;
}

.uom-input{
    float: left;
    margin-left: 0.625rem;
    width: 20vw;

}

.item-type-input{
    width: 20vw;
    margin-left: 50vw;
}
.item-specs input{
    height: 2rem;
    width: 20vw;
}
.basic-info-input-1{
    margin-bottom: 20px;
    height: 6vh;
}
.basic-info-input-2{
    clear: both;
    height: 5vh;
}

.item-secs-1{
    margin-top: 5vh;
}

.item-dimension-input{
    position: relative;
    float: left;

}
.right-input{
    /*margin-left: 20vw;*/
}

.input-label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: all 0.2s ease;
    pointer-events: none;
    background: white;
}

.item-input{
    width: 100%;
    /*padding: 10px 5px;*/
    font-size: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;


}
.item-input:focus + .input-label,
.item-input:not(:placeholder-shown) ~.input-label{
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #666;
}

.submit-btn{
    margin-top: 3vh;
}




.inventory-item-table-cell {
    width: 10vw; /* Relative width for responsiveness */
    min-width: 100px; /* Ensures usability on smaller screens */
}

/* Responsive adjustments using media queries */
@media (max-width: 768px) {


    .inventory-item-table-cell {
        width: 100%; /* Expand table cells to fit available space */
    }
}

.attachment-box{
    border: 5px solid #d1d1d1;

    width: 50%;
    height: 40px;
}


.file-link{
    font-family: "Times New Roman", Times, serif;
    color: darkblue;

}

.file-link:hover{
    font-family: "Times New Roman", Times, serif;
    color: rgba(0, 170, 255, 0.5);
    cursor: pointer;

}